<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801925322617-g93llb9c9us2iqg2f7444c3mu79oiq2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801925322617-g93llb9c9us2iqg2f7444c3mu79oiq2o</string>
	<key>API_KEY</key>
	<string>AIzaSyDOo7hha8y68iSx7KwZwgMceJ1Ki2br7BE</string>
	<key>GCM_SENDER_ID</key>
	<string>801925322617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-50b27</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-50b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801925322617:ios:7bb7b40f654cb7cbfb81a8</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-50b27-default-rtdb.firebaseio.com</string>
</dict>
</plist>